<app-header></app-header>
<br>
<br>
<app-navbar></app-navbar>
<title> Add Company | Stock Market App</title>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <app-add-company-form></app-add-company-form>
        </div>
<div class="col-md-6">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Ticker</th>
                <th>Comapny</th>
                <th>CEO</th>
                <th>Turnover</th>
                <th>IPO Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pd of service.list">
                <td (click)="populateForm(pd)">{{pd.Ticker}}</td>
                <td (click)="populateForm(pd)">{{pd.CompanyName}}</td>
                <td (click)="populateForm(pd)">{{pd.CEOName}}</td>
                <td (click)="populateForm(pd)">{{pd.Turnover}}</td>
                <td (click)="populateForm(pd)">{{pd.IPODate}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Ticker)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
